.page-category {
  position: relative;
  font-size: .14rem;
  .title {
    position: relative;
    line-height:.44rem;
    font-size: .18rem;
    text-align: center;
    background:#fff;

    .back-btn {
      position: absolute;
      left: .1rem;

    }
  }
  .search-area {
    display: flex;
    line-height:.32rem;
    padding: 0.06rem .1rem;
    font-size: .14rem;
    .search-icon {
      width:.3rem;
      color:#75818f;
      text-align: center;
    }
    .search-input {
      flex: 1;
      background: none;
      outline:none;
      border: none;
    }
  }
  .category {
    position: absolute;
    top: .84rem;
    bottom: .5rem;
    left:0;
    width:.96rem;
    overflow-y: scroll;
    background: #f5f9fa;
    &-item {
      color:#242424;
      line-height:.52rem;
      font-size:.14rem;
      text-align: center;
      &-active {
        background: #fff;
      }
    }
  }
  .tag {
    position: absolute;
    top: .84rem;
    left:.96rem;
    right: 0;
    height: .52rem;
    overflow-x: scroll;
    line-height:.32rem;
    white-space: nowrap;
    &-item {
      margin-top:.1rem;
      margin-left:.1rem;
      display: inline-block;
      width: .7rem;
      height: .32rem;
      line-height:.32rem;
      background: #f5f9fa;
      text-align: center;
      border-radius: .05rem;
      &-active {
        background: #d9f7be;
        color: #52c41a;
      }
    }
  }
  .product {
    position: absolute;
    top: 1.4rem;
    left: .96rem;
    right:0;
    bottom:.5rem;
    overflow-y: scroll;
    &-title {
      font-weight:normal;
      padding:0.08rem;
    }
    &-item{
      display:flex;
      padding: .1rem;
      position: relative;

      &-img {
        width:.78rem;
        height:.78rem;
        margin-right:.08rem;
      }
      &-content{
        flex: 1;
        
        &-title {
          color:#242424;
          font-size: .14rem;
          line-height:.22rem;
        }
        &-sales {
          margin-top:.1rem;
          font-size:.12rem;
          line-height:.16rem;
          color:#b1b1b1;
        }
        &-price {
          color:#cf1332;
          font-size:.16rem;
          line-height:.24rem;
          position: absolute;
          margin-top:.1rem;
        }
        &-buy {
          position: absolute;
          bottom:.1rem;
          right:.1rem;
          width:.4rem;
          line-height:.24rem;
          text-align:center;
          color:#fff;
          background: #73d13d;
          border-radius: .04rem;
          border:none;
        }
      }
    }
  }
  .cart-content {
    padding: .2rem .4rem;
    display:flex;
    font-size: .14rem;
    border-bottom: 1px solid #f4f4f4;
    &-img {
      width:.7rem;
      aspect-ratio: 1/1;
      margin-right:.48rem;
    }
    &-info {
      flex: 1;
      &-title {
        margin-right:.45rem;
        line-height: .18rem;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        color: #242424;
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        word-break: break-all;
      }
      &-price {
        display: inline-block;
        margin-top: .1rem;
        font-size:.22rem;
        color:#f81c00;
        font-weight:bold;
        &-yen {
          font-size:.14rem;
          font-weight: noraml;
          margin-right: .04rem;
        }
      }
    }
  }
  .cart-count {
    padding: .35rem .16rem;
    display: flex;
    justify-content: space-between;
    &-counter {
      display: flex;
      font-size:0;// fix white space between inline block
      &-btn {
        width: .28rem;
        font-size:.18rem;
        line-height: .28rem;
        background: #f4f4f4;
        border:none;
      }
      &-text {
        font-size: .18rem;
        line-height:.28rem;
        text-align: center;
        padding:0 .08rem;
        margin: 0 .1rem;
        background:#f4f4f4 ;
      }
    }
  }
  .cart-buttons{
    display: flex;

    .cart-btn {
      flex: 1;
      margin:.1rem .16rem;
      line-height: .44rem;
      font-size:.16rem;
      color:#fff;
      background: #73d13d;
      border-radius: .22rem;
      border:none;
    }
    
  }
  .cart {
    display: flex;
    flex-direction: column;
  }
}